@model List<Todo_App_ASPNET_MVC.ViewModel.TodoViewModel>;

<h3>Todo List</h3>

<table class="table">
    <tr>
        <th> Id </th>
        <th> Task </th>
    </tr>

    @foreach (var task in Model)
    {
        <tr>
            <td data-id="@task.Todo.Id"> @task.Todo.Id </td>
            <td> @task.Todo.Name </td>
            <td>
                <a asp-action="EditTask" asp-controller="Home"
                asp-route-itemid="@task.Todo.Id"> Edit </a>
            </td>
            <td>
                <a asp-action="DeleteTask" asp-controller="Home"
                asp-route-itemid="@task.Todo.Id"> Delete </a>
            </td>
        </tr>
    }
</table>