
<h3>Todo List</h3>

<table class="table">
    <tr>
        <th> Id </th>
        <th> Task </th>
    </tr>

    @foreach (var task in ViewBag.Tasks)
    {
        if(task != null)
        {
            <tr>
            <td data-id="@task.Id"> @task.Id </td>
            <td> @task.Name </td>
            <td>
                <a asp-action="EditTask" asp-controller="Home"
                asp-route-itemid="@task.Id"> Edit </a>
            </td>
            <td>
                <a asp-action="DeleteTask" asp-controller="Home"
                asp-route-itemid="@task.Id"> Delete </a>
            </td>
        </tr>
        }
    }
</table>